<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/sub_index.css">
    <title>Document</title>
</head>
<body>
     <div id="container">
        <div id="head">
            <div class="header">
                <div class="header-left">
                    <div>LOGO<div id="param" class="line line1"></div><span>参数管理</span></div>
                </div>
                <div class="header-right">
                    <ul>
                        <li><a href="/param_crtl/" target="_self"><img src="/static/svg/121_灯泡.svg" alt=""><span>本地参数管理</span></a></li>
                        <li><a href="/re_crtl/" target="_self"><img src="/static/svg/121_火山.svg" alt=""><span>结果管理</span></a></li>
                        <li><a href="/model_crtl/" target="_self"><img src="/static/svg/121_彗星.svg" alt=""><span>大模型管理</span></a></li>
                        <li><a href="/simulation/" target="_self"><img src="/static/svg/121_书写.svg" alt=""><span>模拟生成</span></a></li>
                        <li><a href="/simulation_visible/" target="_self"><img src="/static/svg/121_风车.svg" alt=""><span>可视化结果</span></a></li>
                   </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="core-area">
                <img src="/static/image/生成地图图片.png" alt="">
                <div class="btn btn1_num active"></div>
                <div class="btn btn2_num"></div>
                <div class="btn btn3_num"></div>
                <div class="btn btn4_num"></div>
                <div class="btn btn5_num"></div>
                <div class="btn btn6_num"></div>
                <div class="msg msg1_num active-text">
                    <a href="/param_crtl/query?html_id=1">查询文件夹</a>
                </div>
                <div class="msg msg2_num">
                    <a href="/param_crtl/query?html_id=-1">新增文件夹</a>
                </div>
                <div class="msg msg3_num">
                    <a href="/">返回首页</a>
                </div>
                <div class="msg msg4_num">
                    区域维护中
                </div>
                <div class="msg msg5_num">
                    区域维护中
                </div>
                <div class="msg msg6_num">
                    区域维护中
                </div>
            </div>
        </div>
        <div class="foot">
        </div>
    </div>
    <script src="/static/js/sub_index.js"></script>
</body>
</html>        
        