<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div id="container">
        <div id="head">
            <div class="header">
                <div class="header-left">
                    <div>
                        <svg  class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" width="200" height="200">
                            <path d="M512 512m-512 0a512 512 0 1 0 1024 0 512 512 0 1 0-1024 0Z" fill="#ff7777"  data-spm-anchor-id="a313x.search_index.0.i6.48373a81DcpaxG" class="selected"></path>
                            <path d="M529.088 64a209.088 209.088 0 0 1 209.024 209.088v477.824a209.088 209.088 0 1 1-418.112 0V273.088A209.088 209.088 0 0 1 529.088 64z" fill="#333333" ></path>
                            <path d="M529.088 840.512a89.6 89.6 0 1 0 0-179.2 89.6 89.6 0 0 0 0 179.2z" fill="#707070" ></path>
                            <path d="M529.088 601.6a89.6 89.6 0 1 0 0-179.2 89.6 89.6 0 0 0 0 179.2z" fill="#707070" ></path>
                            <path d="M529.088 362.688a89.6 89.6 0 1 0 0-179.2 89.6 89.6 0 0 0 0 179.2z" fill="#FF3C3C" ></path>
                        </svg>
                        <div class="line line1"></div><span>基于生成式ai的交通模拟辅助决策系统</span></div>
                </div>
                <div class="header-right">
                    <ul>
                        <li><a href="/param_crtl/" target="_self"><img src="/static/svg/121_灯泡.svg" alt=""><span>本地参数管理</span></a></li>
                        <li><a href="/re_crtl/" target="_self"><img src="/static/svg/121_火山.svg" alt=""><span>结果管理</span></a></li>
                        <li><a href="/model_crtl/" target="_self"><img src="/static/svg/121_彗星.svg" alt=""><span>大模型管理</span></a></li>
                        <li><a href="/simulation/" target="_self"><img src="/static/svg/121_书写.svg" alt=""><span>模拟生成</span></a></li>
                        <li><a href="/simulation_visible/" target="_self"><img src="/static/svg/121_风车.svg" alt=""><span>可视化结果</span></a></li>
                    </ul>
                </div>
            
            </div>
        </div>
        <div id="map">
            <div class="content">
                <div data-index="1" class="btn btn1 active"></div>
                <div data-index="2" class="btn btn2"></div>
                <div data-index="3" class="btn btn3"></div>
                <div data-index="4" class="btn btn4"></div>
                <div data-index="5" class="btn btn5"></div>
                <div data-index="6" class="btn btn6"></div>
                <div data-index="7" class="btn btn7"></div>
                <img src="/static/image/生成矢量卡通地图.png" alt="">
                <div class="content-1">
                    <div id="content-1-1">
                        <div class="content-1-1-top active-text" data-index="1">项目简介</div>
                        <div class="content-1-1-top" data-index="2">本地参数管理</div>
                        <div class="content-1-1-top" data-index="3">结果管理</div>
                        <div class="content-1-1-top" data-index="4">大模型管理</div>
                        <div class="content-1-1-top" data-index="5">模拟生成</div>
                        <div class="content-1-1-top" data-index="6">可视化结果</div>
                        <div class="content-1-1-top" data-index="7">未来与展望</div>

                        <div class="content-1-1-bottom active-text" data-index="1">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本项目基于生成式ai构建了一套<br>集数据处理、场景生成、模拟推演和决策建议于一体的智能化平台。系统的核心功能是智能地图生成和针对性决策建议输出。打破了传统交通模拟依赖人工建模、效率低下、场景单一的局限，通过生成式 AI 的强大学习,和创造能力，实现了交通场景的快速生成与精准模拟，让决策过程更具科学性和前瞻性。
                        </div>
                        <div class="content-1-1-bottom" data-index="2">
                            本地参数管理
                        </div>
                        <div class="content-1-1-bottom" data-index="3">结果管理</div>
                        <div class="content-1-1-bottom" data-index="4">大模型管理</div>
                        <div class="content-1-1-bottom" data-index="5">模拟生成</div>
                        <div class="content-1-1-bottom" data-index="6">可视化结果</div>
                        <div class="content-1-1-bottom" data-index="7">
                            它不仅能为政府部门制定交通管理政策、优化城市交通规划提供有力支撑，还能有效降低决策成本、提高治理效率，为打造畅通、安全、智能的城市交通环境注入新的动力。
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot">
        </div>
    </div>
    <script src="/static/js/index.js"></script>
</body>
</html>